[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock

[mysqld_safe]
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
skip-host-cache
skip-name-resolve
user		= mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
basedir		= /usr
datadir		= /var/lib/mysql
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
explicit_defaults_for_timestamp
secure-file-priv = ""
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
#bind-address	= 127.0.0.1

#
# * Fine Tuning
#
key_buffer_size		= 512M
max_allowed_packet	= 16M
thread_stack		= 256K
thread_cache_size       = 32
open_files_limit	=  10240


#
# * Query Cache Configuration
#
join_buffer_size	= 320M
tmp_table_size		= 256M
max_heap_table_size	= 256M
table_open_cache	= 524288
innodb_log_buffer_size	= 8M
#
# * InnoDB
#
# InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
# Read the manual for more InnoDB related options. There are many!
#
innodb_buffer_pool_size	= 1G
innodb_buffer_pool_instances = 5
innodb_thread_concurrency = 0
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_file_per_table = 1

slow_query_log=ON
slow_query_log_file=/var/log/mysql/slow-query.log
long_query_time=10
log_queries_not_using_indexes=OFF

#log-error	= /var/log/mysql/error.log

# Recommended in standard MySQL setup
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/